/* Tic Tac Toe - Title */
h1 {
    width: 500px;
    margin: 30px auto;
    text-align: center;
}

/* Vertical left lines */
.vl {
    border-left: 6px solid black;
    border-width: 1px;
    height: 100px;
    position: absolute;
    left: 46.9%;
    text-align: center;
    top: 20%;
}

.vl2 {
    border-left: 6px solid black;
    border-width: 1px;
    height: 100px;
    position: absolute;
    left: 46.9%;
    text-align: center;
    top: 32%;
}

.vl3 {
    border-left: 6px solid black;
    border-width: 1px;
    height: 100px;
    position: absolute;
    left: 46.9%;
    text-align: center;
    top: 40%;
}

/* Vertical right lines */
.line {
    border-right: 6px solid black;
    border-width: 1px;
    height: 100px;
    position: absolute;
    right: 46.9%;
    text-align: center;
    top: 20%;
}

.line2 {
    border-right: 6px solid black;
    border-width: 1px;
    height: 100px;
    position: absolute;
    right: 46.9%;
    text-align: center;
    top: 32%;
}

.line3 {
    border-right: 6px solid black;
    border-width: 1px;
    height: 100px;
    position: absolute;
    right: 46.9%;
    text-align: center;
    top: 40%;
}

/* Horizontal bottom borders */
.v1 {
    border-bottom: 6px solid black;
    border-width: 1px;
    width: 100px;
    position: absolute;
    left: 41%;
    text-align: center;
    top: 32%;
}

.v2 {
    border-bottom: 6px solid black;
    border-width: 1px;
    width: 100px;
    position: absolute;
    left: 41%;
    text-align: center;
    top: 40%;
}

.v3 {
    border-bottom: 6px solid black;
    border-width: 1px;
    width: 100px;
    position: absolute;
    left: 47%;
    text-align: center;
    top: 32%;
}

.v4 {
    border-bottom: 6px solid black;
    border-width: 1px;
    width: 100px;
    position: absolute;
    left: 47%;
    text-align: center;
    top: 40%;
}

.v5 {
    border-bottom: 6px solid black;
    border-width: 1px;
    width: 100px;
    position: absolute;
    right: 41%;
    text-align: center;
    top: 40%;
}

.v6 {
    border-bottom: 6px solid black;
    border-width: 1px;
    width: 100px;
    position: absolute;
    right: 41%;
    text-align: center;
    top: 32%;
}